.center-text {
    text-align: center;
}

.container {
    padding-right: -15px;
    padding-left: -15px;
}

.navbar {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

h1 {
    padding-top: 50px;
    font-size: 1.25em;
    text-align: center;
    color: black;
    font-family: quicksand;
}

h2 {
    font-size: 1.1em;
    text-align: center;
    color: black;
    font-family: quicksand;
    padding-bottom: 15%;
}

h3 {
    font-size: 1.1em;
    text-align: center;
    color: black;
    font-family: quicksand;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkblue;
}

a:active {
    color: black;
}

.img-container {
    max-width: 100vh;
    padding-left: 0px;
    padding-right: 0px;
}

#toc {
    background-image: url('assets/toc.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

#start {
    color: black;
}

#shortstory1 {
    max-width: 812px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#questions {
    padding-bottom: 55px;
}

#treasurehunt {
    z-index: 0;
}

.text-over-img {
    z-index: 1;
    font-size: 4em;
    margin-top: -45%;
    color: black;
    padding-left: 29%;
    padding-bottom: 29%;
    font-family: sigmar one;
}

.printables {
    background-image: url('assets/istockphoto-1165639982-170667a.jpg');
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-family: quicksand;
}

#image {
    text-align: center;
}

#answer {   
    padding-bottom: 15px;
}

#answer1 {   
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    font-family: quicksand;
}

#factbuttons {
    background-image: url('assets/istockphoto-1165639982-170667a.jpg');
}

#maze {
    padding-bottom: 15px;
    text-align: center;
    font-family: quicksand;
}

#clickme {
    cursor: pointer;
}

.buttons001 {
    position: relative;
    border: 1px solid rgb(52, 195, 235);
    background-color: yellow;
    color: black;
    text-align: center;
    display: inline-block;
    width: 8.9%;
    height: 60px;
    cursor: context-menu;
}
.buttons002 {
    position: relative;
    border: 1px solid transparent;
    background-color: transparent;
    color: transparent;
    text-align: center;
    display: inline-block;
    width: 8.9%;
    height: 60px;
    cursor: context-menu;
}
.boxes {
    position: absolute;
    /* top: 285px; */
    /* left: 42px; */
    left: 7.5%;
    padding-top: 45%;
    position: center;
}

.container1 {
    position: relative;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%; 
    height:auto; 
} 

@media (max-width: 690px) {
    .text-over-img {
        font-size: 3.25em;
    }
}

@media (max-width: 600px) {
    .text-over-img {
        font-size: 3em;
    }
}

@media (max-width: 500px) {
    .text-over-img {
        font-size: 2.75em;
    }
}

@media (max-width: 450px) {
    .text-over-img {
        font-size: 2.5em;
    }
}

@media (max-width: 420px) {
    .text-over-img {
        font-size: 2.25em;
    }
}

@media (max-width: 390px) {
    .text-over-img {
        font-size: 2em;
    }
}

@media (max-width: 360px) {
    .text-over-img {
        font-size: 1.75em;
    }
}

@media (max-width: 300px) {
    .text-over-img {
        font-size: 1.5em;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 0.2em;
        padding-top: 0px;
    }
    h3 {
        font-size: 0.1em;
    }
    h2 {
        font-size: 0.05em;
        padding-left: 40px;
        margin-bottom: 0px;
    }
}

@media (min-width: 280px) and (max-width: 380px) {
    h1 {
        font-size: 0.05em;
        padding-top: 0px;
    }
    h3 {
        font-size: 0.01em;
    }
    h2 {
        font-size: 0.01em;
        margin-bottom: 0px;
    }
}

@media (min-width: 300px) and (max-width: 320px) {
    h2 {
        padding-bottom: -5px;
        margin-bottom: 0px;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    h2 {
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
}

@media (min-width: 340px) and (max-width: 360px) {
    h2 {
        padding-bottom: 50px;
        margin-bottom: 0px;
    }
}

@media (min-width: 360px) and (max-width: 380px) {
    h2 {
        padding-bottom: 70px;
        margin-bottom: 0px;
    }
}

@media (min-width: 380px) and (max-width: 540px) {
    h1 {
        font-size: 0.7em;
        padding-top: 0px;
    }
    h3 {
        font-size: 0.5em;
    }
    h2 {
        font-size: 0.5em;
        margin-bottom: 0px;
    }
}

@media (min-width: 380px) and (max-width: 400px) {
    h2 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (min-width: 400px) and (max-width: 420px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 420px) and (max-width: 440px) {
    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 440px) and (max-width: 540px) {
    h1 {
        font-size: 1em;
        padding-top: 0px;
    }
    h3 {
        font-size: 0.7em;
    }
    h2 {
        font-size: 0.7em;
        margin-bottom: 0px;
    }
}

@media (min-width: 440px) and (max-width: 460px) {
    h2 {
        padding-bottom: 70px;
        margin-bottom: 0px;
    }
}

@media (min-width: 460px) and (max-width: 480px) {
    h2 {
        padding-bottom: 90px;
        margin-bottom: 0px;
    }
}

@media (min-width: 480px) and (max-width: 500px) {
    h2 {
        padding-bottom: 110px;
        margin-bottom: 0px;
    }
}

@media (min-width: 500px) and (max-width: 520px) {
    h1 {
        padding-top: 20px;
    }
    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 520px) and (max-width: 540px) {
    h1 {
        padding-top: 30px;
    }
    h2 {
        padding-bottom: 170px;
        margin-bottom: 0px;
    }
}

@media (min-width: 540px) and (max-width: 620px) {
    h1 {
        font-size: 1.2em;
        padding-top: 30px;
    }
    h3 {
        font-size: 1em;
    }
    h2 {
        font-size: 0.8em;
        margin-bottom: 0px;
    }
}

@media (min-width: 540px) and (max-width: 570px) {
    h2 {
        padding-bottom: 90px;
    }
}

@media (min-width: 570px) and (max-width: 590px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 590px) and (max-width: 610px) {
    h2 {
        padding-bottom: 150px;
        margin-bottom: 0px;
    }
}

@media (min-width: 610px) and (max-width: 620px) {
    h2 {
        padding-bottom: 180px;
        margin-bottom: 0px;
    }
}

@media (min-width: 620px) and (max-width: 723px) {
    h1 {
        font-size: 1.4em;
        padding-top: 30px;
    }
    h3 {
        font-size: 1.1em;
    }
    h2 {
        font-size: 1em;
        margin-bottom: 0px;
    }
}

@media (min-width: 620px) and (max-width: 640px) {
    h2 {
        padding-bottom: 80px;
        margin-bottom: 0px;
    }
}

@media (min-width: 640px) and (max-width: 660px) {
    h2 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (min-width: 660px) and (max-width: 680px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 680px) and (max-width: 700px) {
    h1 {
        padding-top: 40px;
    }
    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 700px) and (max-width: 720px) {
    h2 {
        padding-bottom: 160px;
        margin-bottom: 0px;
    }
}

@media (min-width: 720px) and (max-width: 750px) {
    h1 {
        font-size: 1.5em;
        padding-top: 40px;
    }
    h3 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.2em;
        margin-bottom: 0px;
    }
}

@media (min-width: 723px) {
    .img-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: none;
    }
    #whoweare {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #toc {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -8px;
    }
    #shortstory1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #questions {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    }

@media (max-width: 720px) {
    .buttons001 {
        height: 60px;
    }
    .buttons002 {
        height: 60px;
    }
}

@media (max-width: 700px) {
    .buttons001 {
        height: 59px;
    }
    .buttons002 {
        height: 59px;
    }
}

@media (max-width: 680px) {
    .buttons001 {
        height: 57px;
    }
    .buttons002 {
        height: 57px;
    }
}

@media (max-width: 660px) {
    .buttons001 {
        height: 55px;
    }
    .buttons002 {
        height: 55px;
    }
}

@media (max-width: 640px) {
    .buttons001 {
        height: 53px;
    }
    .buttons002 {
        height: 53px;
    }
}

@media (max-width: 620px) {
    .buttons001 {
        height: 51px;
    }
    .buttons002 {
        height: 51px;
    }
}

@media (max-width: 600px) {
    .buttons001 {
        height: 49px;
    }
    .buttons002 {
        height: 49px;
    }
}

@media (max-width: 580px) {
    .buttons001 {
        height: 47px;
    }
    .buttons002 {
        height: 47px;
    }
}

@media (max-width: 560px) {
    .buttons001 {
        height: 45px;
    }
    .buttons002 {
        height: 45px;
    }
}

@media (max-width: 520px) {
    .buttons001 {
        height: 43px;
    }
    .buttons002 {
        height: 43px;
    }
}

@media (max-width: 500px) {
    .buttons001 {
        height: 41px;
    }
    .buttons002 {
        height: 41px;
    }
}

@media (max-width: 480px) {
    .buttons001 {
        height: 39px;
    }
    .buttons002 {
        height: 39px;
    }
}

@media (max-width: 460px) {
    .buttons001 {
        height: 37px;
    }
    .buttons002 {
        height: 37px;
    }
}

@media (max-width: 420px) {
    .buttons001 {
        height: 35px;
    }
    .buttons002 {
        height: 35px;
    }
}

@media (max-width: 400px) {
    .buttons001 {
        height: 33px;
    }
    .buttons002 {
        height: 33px;
    }
}

@media (max-width: 380px) {
    .buttons001 {
        height: 31px;
    }
    .buttons002 {
        height: 31px;
    }
}

@media (max-width: 360px) {
    .buttons001 {
        height: 30px;
    }
    .buttons002 {
        height: 30px;
    }
}

@media (max-width: 340px) {
    .buttons001 {
        height: 28px;
    }
    .buttons002 {
        height: 28px;
    }
}

@media (max-width: 320px) {
    .buttons001 {
        height: 26px;
    }
    .buttons002 {
        height: 26px;
    }
}

@media (max-width: 290px) {
    .buttons001 {
        height: 24px;
    }
    .buttons002 {
        height: 24px;
    }
}

@media (max-width: 260px) {
    .buttons001 {
        height: 22px;
    }
    .buttons002 {
        height: 22px;
    }
}